<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserData</title>
    <style>
        table,th,tr,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
    <h3>Nasheed all data </h3>
    <th>nasheed_name</th>
    <th>nasheed_duration</th>
    {% for dt1 in data1 %}
      <tr>
        <td>{{dt1.nasheed_name}}</td>
        <td>{{dt1.nasheed_duration}}</td>
      </tr>
    {% endfor %}
</table>

<table>
    <h3>User filter by user_name</h3>
    <th>nasheed_name</th>
    <th>nasheed_duration</th>
    {% for dt1 in data2 %}
      <tr>
        <td>{{dt1.nasheed_name}}</td>
        <td>{{dt1.nasheed_duration}}</td>
      </tr>
    {% endfor %}
</table>

<table>
    <h3>User filter by page_catagory</h3>
    <th>nasheed_name</th>
    <th>nasheed_duration</th>
    {% for dt1 in data3 %}
      <tr>
        <td>{{dt1.nasheed_name}}</td>
        <td>{{dt1.nasheed_duration}}</td>
      </tr>
    {% endfor %}
</table>
</body>
</html>