<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserData</title>
    <style>
        table,th,tr,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
    <h3>User data </h3>
    <th>User_name</th>
    <th>password</th>
    {% for dt1 in data1 %}
      <tr>
        <td>{{dt1.user_name}}</td>
        <td>{{dt1.password}}</td>
      </tr>
    {% endfor %}
</table>
<h3>User filter by user_name</h3>
<table>
    <th>Username</th>
    <th>password</th>
    {% for dt2 in data2 %}
      <tr>
        <td>{{dt2.user_name}}</td>
        <td>{{dt2.password}}</td>
      </tr>
    {% endfor %}
</table>
<h3>User filter by page_catagory</h3>
<table>
    <th>Username</th>
    <th>password</th>
    {% for dt3 in data3 %}
    <tr>
        <td>{{dt3.user_name}}</td>
        <td>{{dt3.password}}</td>
    </tr>
    {% endfor %}
</table>
<h3>User filter by post_catagory</h3>
<table>
    <th>Username</th>
    <th>password</th>
    {% for dt4 in data4 %}
    <tr>
        <td>{{dt4.user_name}}</td>
        <td>{{dt4.password}}</td>
    </tr>
    {% endfor %}
</table>
<h3>User filter by post_catagory</h3>
<table>
    <th>Username</th>
    <th>password</th>
    {% for dt5 in data5 %}
    <tr>
        <td>{{dt5.user_name}}</td>
        <td>{{dt5.password}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>